* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    gap: 80px;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card {
    display: flex;
    gap: 30px;
    align-items: center;
    border: 2px solid rgba(128, 128, 128, 0.314);
    border-radius: 12px;
    padding: 40px;
}

.body-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

.text-container {
    max-width: 200px;
}